
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    display: flex;
    font-family: 'Montserrat', sans-serif !important;
}
.sidebar{
 display: flex;
 flex-direction: column;
 gap: 12px;
 margin-top: 41px;
 margin-left: 98px ;
}
.sidebar button{
    width:140px;
    height: 30px;
    background-color: #2787d1;
    color:#fff;
    border:none;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 20px;
    text-align: left;
    cursor: pointer;
}
.sidebar button:hover{  
    background-color: #2787d16f;
}
.main-content{
    display: flex;
    flex-direction: column;
    margin:40px;
}
.main-content .form-section{
    border: 1.5px solid #d8d8d8;
    position: relative;
    background-color: #fff;
    margin-bottom: 13px;
    width: 576px;
    
}
.form-section h3{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-top: 10px !important;
    margin-left: 14px;
    margin-right: 13px;
    font-style: normal;
    font-weight: 200;
}


.form-section .close{
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 0 !important;
    position: relative;
    cursor: pointer;
}
.form-section label{
    font-size: 12px;
}
.form-section .form-input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin:14px;
    align-items: center;
    justify-items: start;
    
    
}
.form-section label{
    display: inline;
}
.form-section input[type="text"],.form-section input[type="date"],.form-section input[type="time"], .form-section input[type="datetime-local"] ,.form-section input[type="number"] , .form-section select{
    width: 100%;
    border: 1.5px solid #ddd;
    border-radius: 3px;
    height: 26px;
    font-size: 10px;
    padding-left: 10px;
}
input::placeholder {
    color: transparent; /* Hoặc màu giống với màu nền */
}
